header.header
	.header__menutoggle
		span.menu-toggle
			span
			span
			span
	.header__nav
		nav.nav.collapse
			ul
				li
					a(href="") Home
				li
					a(href="") About
				li
					a(href="") Products
				li
					a(href="") Contacts
