.item-list
	ul.pager
		li.pager-previous.first
			a(href="",title="На предыдущую страницу") ←
		li.pager-first
			a(href="",title="На первую страницу") 1
		li.pager-ellipsis 
			span …
		li.pager-item
			a(href="",title="На страницу номер 3") 3
		li.pager-item
			a(href="",title="На страницу номер 4") 4
		li.pager-item
			a(href="",title="На страницу номер 5") 5
		li.pager-item
			a(href="",title="На страницу номер 6") 6
		li.pager-current
			span 7
		li.pager-item
			a(href="",title="На страницу номер 8") 8
		li.pager-item
			a(href="",title="На страницу номер 9") 9
		li.pager-item
			a(href="",title="На страницу номер 10") 10
		li.pager-item
			a(href="",title="На страницу номер 11") 11
		li.pager-ellipsis 
			span …
		li.pager-last.last
			a(href="",title="На последнюю страницу") 20
		li.pager-next
			a(href="",title="На следующую страницу") →