extends template.jade

block variables
	- var body_class = "index"
	
block prepend links

block pixel-glass-templates
	//- include ../../pixel-glass-teplates/index-lg.html

block wrapper
	include includes/pages/index/content.jade



block prepend bottom-scripts
	