extends template.jade

block variables
	- var page_heading_titile
	- var breadcrumb_chain

block prepend links 

block pixel-glass-templates

block wrapper
	+breadcrumb(breadcrumb_chain)
	
	#content
		.container
			block heading_titile

			block content


block prepend bottom-scripts