//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn
	display inline-block
	margin-bottom 0 // For input.btn
	font-weight $btn-font-weight
	text-align center
	vertical-align middle
	touch-action manipulation
	cursor pointer
	background-image none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214
	border 1px solid transparent
	white-space nowrap
	button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base)
	user-select none
	
	&:hover,
	&:focus
		color $btn-default-color
		text-decoration none
		
	&:active
		outline 0
		background-image none
		box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)

// Alternate buttons
// --------------------------------------------------

.btn-default
	button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
	
.btn-primary 
	
	$btn-primari-bg = #df4329
	$btn-pimari-brder = $btn-primari-bg
	button-variant($white, $btn-primari-bg, $btn-pimari-brder)
	border 0
	background -webkit-gradient(linear, left top, left bottom, from(#df4329), to(#9e2713))
	background -webkit-linear-gradient(#df4329, #9e2713)
	background -moz-linear-gradient(#df4329, #9e2713)
	background -o-linear-gradient(#df4329, #9e2713)
	background linear-gradient(#df4329, #9e2713)
	
	&:hover
	&:active
		background: #cf381f;
		background: -webkit-gradient(linear, left top, left bottom, from(#cf381f), to(#872110));
		background: -webkit-linear-gradient(#cf381f, #872110);
		background: -moz-linear-gradient(#cf381f, #872110);
		background: -o-linear-gradient(#cf381f, #872110);
		background: linear-gradient(#cf381f, #872110)
		
.btn-submit
	button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
	
.btn-lg
	// line-height ensure even-numbered height of button next to large input
	button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-base)