@font-face
	font-family Roboto
	src: url( $font-path + '/' + $font-name +'/thin/thin.eot')
	src: url( $font-path + '/' + $font-name +'/thin/thin.eot') format('embedded-opentype'),
		url( $font-path + '/' + $font-name +'/thin/thin.woff2') format('woff2'),
		url( $font-path + '/' + $font-name +'/thin/thin.woff') format('woff'),
		url( $font-path + '/' + $font-name +'/thin/thin.ttf') format('truetype'),
		url( $font-path + '/' + $font-name +'/thin/thin.svg#RobotoRegular') format('svg')
	font-style normal
	font-weight 100
@font-face
	font-family Roboto
	src: url( $font-path + '/' + $font-name +'/light/light.eot')
	src: url( $font-path + '/' + $font-name +'/light/light.eot') format('embedded-opentype'),
		url( $font-path + '/' + $font-name +'/light/light.woff2') format('woff2'),
		url( $font-path + '/' + $font-name +'/light/light.woff') format('woff'),
		url( $font-path + '/' + $font-name +'/light/light.ttf') format('truetype'),
		url( $font-path + '/' + $font-name +'/light/light.svg#RobotoRegular') format('svg')
	font-style normal
	font-weight 300
@font-face
	font-family Roboto
	src: url( $font-path + '/' + $font-name +'/regular/regular.eot')
	src: url( $font-path + '/' + $font-name +'/regular/regular.eot') format('embedded-opentype'),
		url( $font-path + '/' + $font-name +'/regular/regular.woff2') format('woff2'),
		url( $font-path + '/' + $font-name +'/regular/regular.woff') format('woff'),
		url( $font-path + '/' + $font-name +'/regular/regular.ttf') format('truetype'),
		url( $font-path + '/' + $font-name +'/regular/regular.svg#RobotoRegular') format('svg')
	font-style normal
	font-weight normal

@font-face
	font-family Roboto
	src: url( $font-path + '/' + $font-name +'/bold/bold.eot')
	src: url( $font-path + '/' + $font-name +'/bold/bold.eot') format('embedded-opentype'),
         url( $font-path + '/' + $font-name +'/bold/bold.woff2') format('woff2'),
         url( $font-path + '/' + $font-name +'/bold/bold.woff') format('woff'),
         url( $font-path + '/' + $font-name +'/bold/bold.ttf') format('truetype'),
         url( $font-path + '/' + $font-name +'/bold/bold.svg#RobotoBold') format('svg')
	font-style normal
	font-weight bold 