// 
//  Variables
// 
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black ?=           #000
$white ?=           #fff
$gray-darker ?=         lighten($black, 13.5) // #222
$gray-dark ?=           lighten($black, 20)   // #333
$gray ?=                lighten($black, 33.5) // #555
$gray-light ?=          lighten($black, 46.7) // #777
$gray-lighter ?=        lighten($black, 93.5) // #eee

$brand-primary ?=       darken(#428bca, 6.5) // #337ab7

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg ?=               #fff
//** Global text color on `<body>`.
$text-color ?=			$gray-dark

$text-muted ?=			$gray-light


//** Global textual link color.
$link-color ?=            $brand-primary
//** Link hover color set via `darken()` function.
$link-hover-color ?=      darken($link-color, 15)
//** Link hover decoration.
$link-hover-decoration ?= underline


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif ?= Helvetica, Arial, sans-serif
$font-family-serif ?=      Georgia, "Times New Roman", Times, serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=  Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base ?=       $font-family-sans-serif

$font-size-base ?=         14px
$font-size-large ?=        ceil($font-size-base * 1.25) // ~18px
$font-size-small ?=        ceil($font-size-base * 0.85) // ~12px

// Large font-size
$font-size-h1-lg ?=			36px// ~36px
$font-size-h2-lg ?=			30px // ~30px
$font-size-h3-lg ?=			24px // ~24px
$font-size-h4-lg ?=			18px // ~18px
$font-size-h5-lg ?=			14px
$font-size-h6-lg ?=			12px // ~12px

// Middle font-size
$font-size-h1-md ?=			ceil($font-size-h1-lg * 0.85) // ~30px
$font-size-h2-md ?=			ceil($font-size-h2-lg * 0.85) // ~26px
$font-size-h3-md ?=			ceil($font-size-h3-lg * 0.85) // ~20px
$font-size-h4-md ?=			ceil($font-size-h4-lg * 0.85) // ~15px
$font-size-h5-md ?=			ceil($font-size-h5-lg * 0.85) // ~12px
$font-size-h6-md ?=			ceil($font-size-h6-lg * 0.85) // ~10px

// Small font-size
$font-size-h1-sm ?=			ceil($font-size-h1-lg * 0.7) // ~25px
$font-size-h2-sm ?=			ceil($font-size-h2-lg * 0.7) // ~21px
$font-size-h3-sm ?=			ceil($font-size-h3-lg * 0.7) // ~17px
$font-size-h4-sm ?=			ceil($font-size-h4-lg * 0.7) // ~12px
$font-size-h5-sm ?=			ceil($font-size-h5-lg * 0.7) // ~10px
$font-size-h6-sm ?=			ceil($font-size-h6-lg * 0.7) // ~8px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base ?=       1.428571429 // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed ?=   floor($font-size-base * $line-height-base) // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family ?=   inherit
$headings-font-weight ?=   500
$headings-line-height ?=   1.1
$headings-color ?=         inherit


//== Menu
$menu-width ?= 				260px

//== Components
//

$line-height-large ?=        1.3333333 // extra decimals for Win 8.1 Chrome
$line-height-small ?=        1.5

$border-radius-base ?=       4px
$border-radius-large ?=      6px
$border-radius-small ?=      3px


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding ?=           8px
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding ?= 5px

//** Default background color used for all tables.
$table-bg ?=                     transparent
//** Background color used for `.table-striped`.
$table-bg-accent ?=              #f9f9f9
//** Background color used for `.table-hover`.
$table-bg-hover ?=               #f5f5f5
$table-bg-active ?=              $table-bg-hover

//** Border color for table and cell borders.
$table-border-color ?=           #ddd


//== Forms
//
//##

//** `<input>` background color
$input-bg ?=                     #fff
//** `<input disabled>` background color
$input-bg-disabled ?=            $gray-lighter

//** Text color for `<input>`s
$input-color ?=                  $dark
//** `<input>` border color
$input-border ?=                 #ccc


$input-border-radius ?=          3px

//** Border color for inputs on focus
$input-border-focus ?=           #66afe9

//** Placeholder text color
$input-color-placeholder ?=      #999




//-- Z-index master list
$zindex-navbar ?=				1000
$zindex-menu-toggle ?=			1000
$zindex-overlay ?=				900
// $zindex-dropdown ?=         1000
// $zindex-popover ?=          1060
// $zindex-tooltip ?=          1070
// $zindex-navbar-fixed ?=     1030
// $zindex-modal-background ?= 1040
// $zindex-modal ?=            1050

//== Media queries breakpoints
//
// Extra small screen / phone
$screen-xs ?=                480px
$screen-xs-min ?=            $screen-xs
$screen-phone ?=             $screen-xs-min

// Small screen / tablet
$screen-sm ?=                768px
$screen-sm-min ?=            $screen-sm
$screen-tablet ?=            $screen-sm-min

// Medium screen / desktop
$screen-md ?=                992px
$screen-md-min ?=            $screen-md
$screen-desktop ?=           $screen-md-min

// Large screen / wide desktop
$screen-lg ?=                1200px
$screen-lg-min ?=            $screen-lg
$screen-lg-desktop ?=        $screen-lg-min

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max ?=           ($screen-xs-min - 1)
$screen-xs-max ?=            ($screen-sm-min - 1)
$screen-sm-max ?=            ($screen-md-min - 1)
$screen-md-max ?=            ($screen-lg-min - 1)

//== Grid system
// 

// Maximum container width
$container-max ?=       1170px
$container-min ?=       320px
//** Number of columns in the grid.
$grid-columns ?= 		12
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width ?= 	20px

$grid-float-breakpoint ?=     $screen-sm-min
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)



//== Pagination
//
//##

$pagination-color ?=                   $link-color
$pagination-bg ?=                      #fff
$pagination-border ?=                  #ddd

$pagination-hover-color ?=             $link-hover-color
$pagination-hover-bg ?=                $gray-lighter
$pagination-hover-border ?=            #ddd

$pagination-active-color ?=            #fff
$pagination-active-bg ?=               $brand-primary
$pagination-active-border ?=           $brand-primary

$pagination-active-class ?=            '.pager-current'
