mixin menu()
	nav.nav.menu.collapse
		ul
			li.nav__has-child
				a(href="") О компании
				ul.nav__drop
					li
						a(href="/simple-text.html") История компании
					li
						a(href="/simple-text.html") Вакансии
					li
						a(href="/simple-text.html") Наши партнеры
					li
						a(href="/simple-text.html") Рекламные материалы
			li
				a.active(href="/simple-text.html") Сотрудничество
			li
				a(href="/simple-text.html") Оплата и доставка
			li
				a(href="/news-list.html") Новости
			li.nav__has-child
				a(href="/contacts.html") Контакты
				ul.nav__drop
					li
						a(href="/simple-text.html") История компании
					li
						a(href="/simple-text.html") Вакансии
					li
						a(href="/simple-text.html") Наши партнеры
					li
						a(href="/simple-text.html") Рекламные материалы