.wrapper
	background-color transparent
	min-height 100%
	&:after
		content "" 
		display block
		
		@media screen and (min-width $screen-xs-min)
			padding-bottom 100px
		@media screen and (min-width $screen-md-min)
			padding-bottom 120px
		@media screen and (min-width $screen-lg-min)
			padding-bottom 140px 
			
	@media screen and (max-width $screen-xxs-max)
		min-height auto
		&:after
			content none
