mixin catalog_drop()
	.catalog
		//- .catalog__part
		//- .catalog__title Китайская игрушка
		ul.catalog__first
			li
				a(href="/product-list.html") 
					img(src="../img/icons/car.png", alt="")
					span Для мальчиков
			li
				a(href="/product-list.html")
					img(src="../img/icons/bunny.png", alt="")
					span Игрушки для девочек
			li
				a(href="/product-list.html")
					img(src="../img/icons/confetti.png", alt="")
					span Игрушки для праздника
			li
				a(href="/product-list.html")
					img(src="../img/icons/xylophone.png", alt="")
					span Игрушки музыкальные
			li
				a(href="/product-list.html")
					img(src="../img/icons/christmas-tree.png", alt="")
					span Игрушки новогодние
			li
				a(href="/product-list.html")
					img(src="../img/icons/toy.png", alt="")
					span Игрушки обучающие
			li
				a(href="/product-list.html")
					img(src="../img/icons/spinning.png", alt="")
					span Игрушки пластмассовые
			li
				a(href="/product-list.html")
					img(src="../img/icons/design.png", alt="")
					span Игрушки развивающие
			li
				a(href="/product-list.html")
					img(src="../img/icons/puzzle.png", alt="")
					span Игры
			li
				a(href="/product-list.html")
					img(src="../img/icons/blocks.png", alt="")
					span Конструкторы
			li
				a(href="/product-list.html")
					img(src="../img/icons/ball.png", alt="")
					span Лето и спорт
			li
				a(href="/product-list.html")
					img(src="../img/icons/bear.png", alt="")
					span Мягкая игрушка
			li
				a(href="/product-list.html")
					img(src="../img/icons/gun.png", alt="")
					span Оружие
			li
				a(href="/product-list.html")
					img(src="../img/icons/sedan.png", alt="")
					span Транспорт

		//- .catalog__part
		//- 	.catalog__title Русская игрушка
		//- 	ul.catalog__first
		//- 		li
		//- 			a.i-rattle(href="") Для малышей
		//- 		li
		//- 			a.i-car(href="") Для мальчиков
		//- 		li
		//- 			a.i-building(href="") Игрушка деревянная
		//- 		li
		//- 			a.i-bunny(href="") Игрушки для девочек
		//- 		li
		//- 			a.i-penguin(href="") Игрушки заводные
		//- 		li
		//- 			a.i-blocks(href="") Конструкторы
		//- 		li
		//- 			a.i-ball(href="") Лето и спорт
		//- 		li
		//- 			a.i-xylophone(href="") Музыкальные
		//- 		li
		//- 			a.i-teddy(href="") Мягкая
		//- 		li
		//- 			a.i-christmas-tree(href="") Новогодний ассортимент
		//- 		li
		//- 			a.i-toy(href="") Развивающие и обучающие
		//- 		li
		//- 			a.i-beach-toy(href="") Разное
		//- 		li
		//- 			a.i-palette(href="") Творчество
		//- 		li
		//- 			a.i-car-sed(href="") Транспорт