mixin footer_block()
	footer.footer
		.footer__top
			.container
				.footer__top-wrap
					a.footer__logo(href="")
						img(src="", alt="")
					.footer__brd
						.footer__menu
							nav.nav.menu-bottom
								ul
									li
										a(href="") главная
									li
										a(href="") Пункт 1
									li
										a(href="") Пункт 2
									li
										a(href="") Пункт 3
									li
										a(href="") Контакты

		.footer__bottom
			.container
				.footer__bottom-wrap
					.footer__copyright © 2017 «Base.loc»