include header.jade
include footer.jade
include breacrumb.jade
include label.jade
include catalog-drop.jade
include popup-login.jade
include popup-feedback.jade
//- Элемент с "+" и "-" и цифровое поле
include amount-control.jade

include pager.jade

include menu-toggle.jade

include gotop-btn.jade

//- Место для вставки картинок для bPopup
include img-popup-placer.jade